body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-evenly;
}

#box1 {
  width: 40%;
}

#box2 {
  width: 40%;
}

.searchBar {
  margin-bottom: 30px;
  text-align: center;
}

label {
  font-size: 20px;
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
}

#movies > div {
  margin: 0 20px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
}

#movies img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

#recipes img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

#recipes > div {
  margin: 0 20px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 85%;
}
